theme = "catppuccin_mocha"

[editor]
line-number = "relative"
cursorline = true
auto-format = true
bufferline = "multiple"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.insert]
j = { k = "normal_mode" }  # jk to exit insert mode
